body{
margin-top: 10px;
}
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 1300px;
	
	
}
	.container{
		margin-bottom: 20px;
		margin-top: 10px;
		width: 100%;
	}
td, th {
   
    text-align: left;
    padding: 2px;
	padding-left: 10px;
	margin-left: 8px;
}


a:link {
 color: white;
  
  text-decoration: none;
}

a:visited {
 color: white;
  
  text-decoration: none;
}

a:hover {
 color: white;
  
  text-decoration: none;
}

a:active {
  color: white;
  
  text-decoration: none;
}
tr{
	 border: 1px solid #dddddd;
}
.page-item{
    padding: -20px;
}
.btn1{
	color:white;
	width: 130px;
	border-radius: 13px;
	padding: 2px;
	background: orange;
	border-color: white;
	border-width:1px;
	margin: 8px;
	margin-left: 950px;
	text-align-last: center;
	}

Button{
	color:deepskyblue;
	width: 70px;
	border-radius: 13px;
	padding: 1px;
	background: white;
	border-color: gray;
	border-width:1px;
	margin: 8px;
}
label{
	font-size: 20px;
	
}